services:
  database:
    image: postgres:15-alpine
    container_name: kupipodari_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: kupipodari_backend
    restart: unless-stopped
    environment:
      JWT_SECRET: ${JWT_SECRET}
      POSTGRES_HOST: database
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    depends_on:
      - database
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: kupipodari_frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "8081:80"

volumes:
  pgdata:

 