services:
  # nginx:
  #   image: nginx:latest
  #   container_name: nodejs-docker-and-compose-nginx-1
  #   restart: unless-stopped
  #   ports:
  #     - "8080:80"
  #     - "443:443" 
  #   volumes:
  #     - ./frontend:/usr/share/nginx/html:ro
  #     - ./nginx/conf.d:/etc/nginx/conf.d:ro    
  #     - /etc/letsencrypt/live/kupipodari.nomorepartiessite.ru/fullchain.pem:/etc/ssl/certs/nginx.crt:ro
  #     - /etc/letsencrypt/live/kupipodari.nomorepartiessite.ru/privkey.pem:/etc/ssl/private/nginx.key:ro
  #   depends_on:
  #     - backend

  database:
    image: postgres:15-alpine
    container_name: kupipodari_db
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: kupipodari_backend
    restart: unless-stopped
    env_file: .env
    environment:
      JWT_SECRET: ${JWT_SECRET}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: kupipodari_frontend
    restart: unless-stopped
    env_file: .env
    depends_on:
      - backend
    ports:
      - "8081:80"

volumes:
  pgdata:


